body {
    font-family: Arial, Helvetica, sans-serif;
    color: #123524;
    margin: 30px 22px 0 22px
}

body._120 {
    background-image: url('img/2025-diana-landsleir/landsleir-logo-bw.webp')
}

h1 {
    color: deeppink;
    margin-bottom: 0;
    letter-spacing: -0.05rem;
}

h1.bw {
    color: #253529;
}
h2 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: normal;
    margin-top: 0.2rem;
    margin-bottom: 2rem;
}

p {
    margin: 0 0 0.25rem 0;
}



section {
    padding-top: 1rem;
    padding-bottom: 5rem;
}

footer {
    padding-top: 1rem;
    font-size: small;
}

._110 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
}

._110 img {
    height: 180px;
    width: 250px;
    object-fit: cover;
}


._120 img {
    width: 100%;
    margin: auto;
    max-width: 960px;
    display: block;
    margin-bottom: 200px;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
 left: 50%;
  transform: translateX(-50%); 
  background: white;
  padding: 1rem;
  border: 1px solid #123524;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  z-index: 1000;
}
.popup:target {
  display: block;
}