body {
    font-family: Arial, Helvetica, sans-serif;
    color: #123524;
    margin: 30px 22px 0 22px
}

h1 {
    color: deeppink;
    margin-bottom: 0;
}
h2 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: normal;
    margin-top: 0.2rem;
}

p {
    margin: 0.25rem;
}

._110 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
}

._110 img {
    height: 180px;
    width: 250px;
    object-fit: cover;
}

section {
    padding-top: 2rem;
    padding-bottom: 5rem;
}

footer {
    padding-top: 1rem;
    font-size: small;
}